<form [formGroup]="myForm">
    <table>
        <div formGroupName="sousgroupe1">
        <tr>
            <td>Apartment Number</td>
            <td><input formControlName="appartNum">
            <div *ngIf="NumApart.errors  && NumApart.touched">
               <!-- <div *ngIf="NumApart.errors['required']"> Champ obligatoire</div> -->
               <!-- <div *ngIf="NumApart.errors['pattern']">Le Champ doit contenir des chiffres </div> -->
               <div *ngIf="NumApart['pattern']"> <app-errors [errorMessage]="'pattern'" ></app-errors> </div> 
               <div *ngIf="NumApart.errors['required']"> <app-errors [errorMessage]="'required'" ></app-errors> </div>      
            </div>
        </td>
        </tr>
        <tr>
            <td>Floor Number</td>
            <td><input formControlName="floorNum" >
                <div *ngIf="NumFloor.errors  && NumFloor.touched" >
                <div *ngIf="NumFloor.errors['required']"> <app-errors [errorMessage]="'required'" ></app-errors> </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Surface</td>
            <td><input formControlName="surface">
            <div *ngIf="surface.errors && surface.touched">
                <div *ngIf="surface.errors['required']"> <app-errors [errorMessage]="'required'" ></app-errors> </div>
                       </div>
            </td>
        </tr>
    </div>
    <div>
        <tr *ngIf="sousgroupe1.valid">
            <td>Surface Terrace</td>
            <td><input formControlName="surfaceTerrace">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" [disabled]="myForm.invalid">Save</button></td>
        </tr>
    </div>
    </table>
